h2 {
	color: rgba(62, 65, 63, 0.94);
}

body {
	font-weight: 100;
	color: inherit;
	font-family: 'Righteous';
	/*color: white;*/
	min-height: 100%;
	width: 100%;
	height: auto;
	background-image: url(../assets/images/desk_homepage_background.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
}

.time {
	text-algin: center;
}

.timer h1 {
	font-family: 'Righteous', cursive;
	font-weight: 100;
	color: #fff;
	font-size: 6em ;
	width: 100%;
	text-align: center;
	text-shadow: 1px 1px 0px rgba(142, 36, 36, 0.84);
	padding-top: 1em;
	margin-bottom: .25em;
}

.timer button {
	font-size: 1em;
	padding: 3%;
	color: #FFF;
	background-color: #4ccee6;
	position: relative;
	top: 90%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-transform: uppercase;
	vertical-align: middle;
	border-radius: 50px;
}
